nav{
  height: 60px;
background-color: blue;
  width: auto;


}
ul{
  height: 60px;
  display: flex;
align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
a{
  color: white;
  text-decoration: none;
}

img{
  float: left;
    clear:both;
}

.center{
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.logo{
  height: 40px;
  width: 40px;
  background-color: white;
}
.hero{

  height: 500px;
  width: 100%;
  color: black;
background-image: url("../images/ig/lg-gorilla01.jpg");
background-repeat: no-repeat;
background-size: cover;
text-align: center;


}
.contain{
  padding-top: 150px;

}
.para{
  color: white;
  font-size: 18px; 

}

.pg{
  display: flex;
  align-items: center;
height: 400px;
width: 400px;
justify-content: space-around;
padding-left: 20px;
padding-right: 20px;


}
.textlist{
  height: 400px;
  width: 100%;
}

.block{
  height: 200px;
  width: 200px;
  background-color: blue;
margin-top: 30px;
  margin-bottom: 30px;
  padding: 5px;
  }

  .block1{
  height: 150px;
  width: 150px;
  background-color: blue;
  margin-top: 30px;
  margin-right: 10px;
    margin-left: 10px;
  margin-bottom: 30px;
  padding: 5px;
  }
.listblock{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.logo_img{
  margin: 5px;

  height: 50px;
  width: 50px;
  background-color: white;
  float: left;
}
.text{
color: white;
}

.rediList{
  color: black;
  text-align: right;
  margin-right: 30px;
  
}











