nav{
  height: 60px;
  background: blue;
  width: auto;


}
ul{
  height: 60px;
  display: flex;
align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
a{
  color: white;
}

img{
  float: left;
    clear:both;
}
.img2{
  float: left;
  margin-right: 5px;
}
.center{
  display: flex;
  justify-content: space-around;
}


.block{
  border: solid black 2px;
  margin-bottom: 200px;
  width: 99%;
height: 310px;
  padding: 5px;
}
.comment{
  clear: both;
}
.zz{
  margin-left: 1600px;
float: right;

border: solid red 1px;
background: red;
padding: 8px;
}
